# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

Setup/packages/com.SykCoder42.UniInsert.DatabaseUpdater/data/DatabaseUpdater.exe
Setup/packages/com.SykCoder42.UniInsert.DefaultDatabase/data/defaultDatabase.rcc
Setup/packages/com.SykCoder42.UniInsert.UnicodeUtil/data/UnicodeUtil.exe