<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>Unicode Utility</Name>
	<Version>1.1.0</Version>
	<Title>Unicode Utility Installer</Title>
	<Publisher>Sykcoder42</Publisher>
	<ProductUrl>https://github.com/Skycoder42/UniInsert</ProductUrl>
	<StartMenuDir>Unicode Utility</StartMenuDir>
	<TargetDir>Unicode Utility</TargetDir>
	<RunProgram>UnicodeUtil</RunProgram>
	<AllowSpaceInPath>true</AllowSpaceInPath>
	<AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
	<RemoteRepositories>
		<Repository>
			<Url>http://skynet.is-an-engineer.com/repositories/UnicodeUtil</Url>
			<Enabled>1</Enabled>
			<DisplayName>Unicode Utility Online Repository</DisplayName>
		</Repository>
	</RemoteRepositories>
	<ControlScript>controllerScript.js</ControlScript>
</Installer>
